.hero {
  position: relative;
  min-height: 600px;
  max-width: 1440px;
  background-image: url('/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 80px 0;
}

.title {
  display: flex;
  width: 100%;
  font-size: clamp(42px, 8vw, 96px);
  font-weight: 700;
  color: var(--color-white);
  line-height: 1.1;
  letter-spacing: -2.5px;
  padding-bottom: 6px;
}

.btnWrapper {
  max-width: 218px;
  margin-top: 32px;
}
