.selector {
  display: flex;
  align-self: flex-start;
  border-top: 1px solid var(--color-grey-divider);
  border-bottom: 1px solid var(--color-grey-divider);
  border-radius: var(--border-radius-main);
}

.btn {
  padding: clamp(0.525rem, 0.1rem + 0.1vw, 0.9375rem)
    clamp(0.5875rem, 0.1rem + 0.1vw, 1rem);
  outline: none;
  cursor: pointer;
  border: none;
  border-left: 1px solid var(--color-grey-divider);
  border-right: 1px solid var(--color-grey-divider);
  border-radius: var(--border-radius-main);
  background-color: transparent;
}

.icon {
  stroke: var(--color-grey);
}

.btn:hover .icon {
  stroke: var(--color-primary);
}

.quantity {
  font-size: clamp(1rem, 1rem + 0.5vw, 1.25rem);
  color: var(--color-text);
  font-weight: 600;
  padding: clamp(0.625rem, 0.5rem + 0.5vw, 1rem)
    clamp(1.875rem, 1.5rem + 1vw, 2.5rem);
  min-width: 2ch;
  text-align: center;
  display: flex;
  align-items: center;
}

@media (max-width: 687px) {
  .selector {
    align-self: center;
  }

  .quantity {
    flex-direction: column;
  }
}

@media (max-width: 930px) {
  .btn {
    padding: 10px 11px;
  }

  .quantity {
    font-size: 16px;
    padding: 10px 30px;
  }
}
