.single_product {
  margin-top: 116px;
}

.product_wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px;
}

.image_container {
  max-height: 572px;
  max-width: 780px;
  flex: 2;
  display: flex;
  justify-content: center;
}

.product_image {
  width: 70%;
  height: auto;
  display: block;
}

.info_container {
  flex: 1;
}

.title {
  font-size: 36px;
  font-weight: 700;
}

.product_price {
  font-size: clamp(32px, 1.25rem + 3.74vw, 64px);
  font-weight: 700;
}

.product_discounted_price {
  font-size: 40px;
  font-weight: 500;
  color: var(--color-grey);
  text-decoration: line-through;
  padding-bottom: 6px;
}

.price_container {
  display: flex;
  gap: 32px;
  padding: 32px 0;
  align-items: flex-end;
}

.discont_container {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.discount_badge {
  font-size: clamp(1rem, 0.9rem + 0.37vw, 1.5rem);
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 4px 8px;
  border-radius: var(--border-radius-main);
}

.badge_container {
  display: flex;
  min-height: 79px;
  align-items: flex-start;
}

.actions {
  display: flex;
  gap: 32px;
}
