.button_banner {
  background-color: var(--color-white);
  color: var(--color-text);
  padding: 16px 32px;
  border: none;
  outline: none;
  border-radius: var(--border-radius-main);
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}

.button_banner:hover {
  background-color: var(--color-text);
  color: var(--color-white);
}

.button_banner-succes {
  background-color: var(--color-light-grey);
  color: var(--color-primary);
  cursor: unset;
}

.button_banner-succes:hover {
  background-color: var(--color-light-grey);
  color: var(--color-primary);
}

@media (max-width: 850px) {
  .button_banner {
    padding: 12px 42px;
    font-size: 15px;
  }
}
