.product_container {
  display: flex;
  gap: 32px;
  margin-bottom: 16px;
  border: 1px solid var(--color-grey-divider);
  border-radius: var(--border-radius-big);
}

.product_data {
  display: flex;
  flex-direction: column;
  padding: 32px 32px 32px 0;
  gap: 32px;
  width: 100%;
}

.product_title_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product_price_container {
  display: flex;
  gap: 32px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.product_img {
  width: 200px;
  height: 180px;
}

.icon {
  stroke: var(--color-text);
  width: 24px;
  height: 24px;
}

.delete_button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.delete_button:hover .icon {
  stroke: var(--color-primary);
}

.product_title {
  font-size: 20px;
  font-weight: 500;
}

.product_discont_price {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-grey);
  text-decoration: line-through;
  padding-bottom: 5px;
}

.product_price {
  font-size: clamp(28px, 1.5rem + 1vw, 40px);
  font-weight: 600;
  color: var(--color-text);
}

.product_img_container {
  display: flex;
  padding: 3px;
  align-items: center;
  border-right: 1px solid var(--color-grey-divider);
}

.prices_container {
  display: flex;
  gap: 16px;
  align-items: end;
}

@media (max-width: 485px) {
  .product_container {
    flex-direction: column;
    align-items: center;
  }

  .product_img_container {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--color-grey-divider);
    justify-content: center;
  }
  .product_title_container {
    padding-left: 20px;
    gap: 5px;
  }
  .product_price_container {
    justify-content: center;
  }
  .product_img_container {
    padding: 10px;
  }
}
