.form {
  width: 100%;
}

.form input {
  background-color: transparent;
  width: 100%;
  font-family: var(--font-main);
  font-size: clamp(1rem, 0.91rem + 0.38vw, 1.25rem);
  font-weight: 500;
  padding: 16px 32px;
  border-radius: var(--border-radius-main);
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.form.light input {
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-divider);
  color: var(--color-grey);
}

.form input::placeholder {
  color: var(--color-white);
}

.form.light input::placeholder {
  color: var(--color-grey);
}

.input_container {
  display: flex;
  flex-direction: column;
}

.error {
  padding: 0;
  margin: 0;
  color: var(--color-error);
}

.error_placeholder {
  min-height: 16px;
  text-align: center;
}

.form input:focus {
  outline: none;
}

.form_btn {
  margin-top: 32px;
}
