.cart_container {
  display: flex;
  gap: 32px;
  margin-top: 40px;
}

.shopping_cart {
  padding-top: 40px;
}

.form_container {
  display: flex;
  width: 100%;
  border-radius: var(--border-radius-big);
  background-color: var(--color-light-grey);
  padding: 32px;
  flex-direction: column;
  max-height: 582px;
}

.order_title {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 24px;
}

.order_info {
  font-size: 40px;
  font-weight: 500;
  color: var(--color-grey);
}

.order_price {
  font-size: 64px;
  font-weight: 700;
  color: var(--color-text);
}

.order_price_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty_basket_container {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
}

.btn_container {
  max-width: 313px;
}

.empty_basket_text {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text);
}

.link {
  max-width: 313px;
}

.modal_container {
  display: flex;
  flex-direction: column;
  width: 88%;
}

.modal_title {
  font-size: 40px;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 22px;
}

.modal_message {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 12px;
}
