.panel {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.group {
  display: flex;
  align-items: center;
  gap: 16px;
}

.label {
  font-family: var(--font-main);
  font-size: clamp(1rem, 0.9rem + 0.37vw, 1.5rem);
  font-weight: 600;
  color: var(--color-text);
  max-width: 100%;
  text-align: center;
}

.input {
  border: 1px solid var(--color-grey-divider);
  border-radius: var(--border-radius-big);
  padding: 8px 12px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 500;
  outline: none;
  max-width: 116px;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;

  width: 36px;
  height: 36px;
  border: 1px solid var(--color-grey-divider);
  border-radius: var(--border-radius-big);

  position: relative;
  cursor: pointer;
  outline: none;
  transition:
    background-color 0.2s,
    border-color 0.2s;
}

.checkbox:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.checkbox:checked::before {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 12px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
