.button_card {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 16px 56px;
  border: none;
  outline: none;
  border-radius: var(--border-radius-main);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.button_card:hover {
  background-color: var(--color-text);
}

@media (max-width: 850px) {
  .button_card {
    padding: 12px 42px;
    font-size: 15px;
  }
}
