.category_name {
  font-size: clamp(32px, 1.25rem + 3.74vw, 64px);
  font-weight: 700;
}

.category_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category_line {
  flex-grow: 1;
  height: 1px;
  background-color: var(--color-grey-divider);
  margin-left: 32px;
}
